# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/frontend/coverage
/backend/coverage

# production
/frontend/build
/backend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend-specific ignores
backend/node_modules/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Backend environment variables
backend/.env

# Backend logs
backend/logs
backend/*.log
backend/logs/*.log
backend/npm-debug.log
backend/yarn-debug.log
backend/yarn-error.log
backend/pnpm-debug.log
backend/to_save.txt1
backend/to_save.txt2


# Backend local build files
backend/dist/
backend/build/

# Backend editor & OS files
backend/.DS_Store
backend/Thumbs.db
backend/.vscode/
backend/.idea/
backend/*.swp

# Frontend-specific ignores
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Frontend logs
frontend/logs
frontend/*.log
frontend/logs/*.log
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log
frontend/pnpm-debug.log

# Frontend local build files
frontend/dist/

# Frontend editor & OS files
frontend/.DS_Store
frontend/Thumbs.db
frontend/.vscode/
frontend/.idea/
frontend/*.swp
